<!DOCTYPE html>
<html>
<head>
	<title>Learning JavaScript</title>
	<link rel="stylesheet" href="../static/javaScriptStyle.css" />

	<!-- link javascript file -->
	<!--
	<script src="practiceJava.js"> </script>
	-->

</head>
<body>
	<div class ="header">
		<h1 id="header"> Learning JavaScript </h1>
		<p>With Erik </p>
	</div>

	<!-- container is where I'm going to put my code in -->

	<div class ="container">

	<script>
		alert("This is awesome!");
		//creating variable
		//no quotation means number
		var number1 = 35;
		var number2 = 30;

		// alert(number1 + number2);

		//array
		// var colors = ['red', 'blue', 'green']
		// alert(colors[1]);

		// //dot syntax
		// colors.push('purple'); 
		// alert(colors.length);

		var nums = [5, 77, 6, 1, 55];
		//funtion needs ()
		//alert(nums.sort());
		//alert(nums.reverse());

		//for loop: start, condition, iteration change
		for (var i = 0; i < 10; i++) {
			console.log("I love the number" + " " + i);
		}

		//console is inspect a webpage

		//while loop
		var x = 0;
		while(x < 10) {
			console.log(x);
			x++
		}

		//loop through array
		for (var i = 0; i < nums.length; i++){
			console.log("Hello" + " " + i);
		}

		//conditional statement
		//if else statement
		//not is !
		//and &&
		//or ||
		if (1 == 1) {
			console.log("This is true");
		}
		if (1 == 2){
			console.log("Hi")
		}

		//objects

		var person = {
			firstName: 'Erik',
			lastName: 'Van',
			age:20,
		}

		console.log(person.age);

	</script>

	<!--
	<button onclick="doClick()"> Click Me</button>
	-->

	<p id="demo"> JavaScript can change HTML content.</p>

	<button type="button" onclick='document.getElementById("demo").innerHTML = "Hello JavaScript!"'>Click Me!</button>

	<div>
		<button onclick="changeText()">Click Me</button>
	</div>

	<div>
		<button onmouseout="clearText()" onmouseover="changeText()">Hover over me</button>
	</div>

	<script>

		function doClick(){
			
			alert('You Clicked!');

		}
		//id is parameter
		function changeText(){
			var heading = document.getElementById('header');
			heading.innerHTML = "You clicked!";

			heading.style.color = "green";
		}

		function clearText(){
			var heading = document.getElementById('header');
			heading.innerHTML = "Learning JavaScript"
		}

		//function to show date is Date();
		//EVENTS: onmouseover, onmouseout, onmouseodown (click down), onmouseup (click up) , onclick, onload, onchange
	</script>
	</div>

</body>
</html>