<!DOCTYPE html>
<html>
<head>
	<title>About us </title>
	<style type="text/css">
	.myicons{
			position: absolute;
			width: 40px;
			height: 40px;
			display: inline;
		}
		#img1{
			left: 45%;
		}
		#img2{
			left: 49%;
		}
		#img3{
			left: 53%;
		}

	</style>
</head>
<body>
	{%extends "home.html" %}
	{% block body%}
	<br>


<br>
</a> 
</div> 
	<p> My Name is Osama AlOsta , I'm 16 Years Old , i love programming , Code for palestine Student , i hope to study at Stanford ! </p>
	 <p> My name is sia.I am intrested in painting and programming.I love animals and flowers.</p>
 	{% endblock %}

</body>
</html>