<!DOCTYPE html>
<html>
<head>
	<title>Sign up</title>
	<link rel="stylesheet" type="text/css" href=../static/signup.css>
</head>
<body>

	<form action="/submit" method ="POST" >
		<div>
		<label>Your Name</label>
		<input type ="text" name = "Name" placeholder="Enter Your Name">
	<br>
	
		<label>Phone Number</label>
		<input type="text" name="PhoneNumber" placeholder="Enter Your PhoneNumber">
<br>
	</div>
	<br>
	</div>
		<div>
		<label>The resturants</label>
		<input type="text" name="resturant" placeholder="The resturant">

	</div>
		<div>
		<label>Your order</label>
		<input type="text" name="order" placeholder="Enter your Order">
<br>
	<div>
		<label>Addres</label>
		<input type="text" name="Addres" placeholder="Enter your Addres">

	</div>

	<br>
	<input id ="order" type="submit" name="submit" value="Order Now">

</body>
</html>