<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/resturant.css">
</head>
<body id = "back">
	{%extends "home.html" %}
	{% block body%}
	<p id ="para"> No Delivery fee on your first Order </p>
<a href="tmenu" target="_blank"><img src="../static/taboon.png"></a>
<a href="mmenu" target="_blank"><img src="../static/mazaj.png"></a>
<a href="thilandy" target="_blank"><img id = "thila"  src="../static/thilandi.png"></a>
<!-- <a href="https://mazaj.ps/" target="_blank"><img src="../static/oregano.png"></a>
 --><a href="submax" target="_blank"><img src="../static/submax.png"></a>
<!-- <a href="https://mazaj.ps/" target="_blank"><img src="../static/jb.png"></a>
<a href="https://mazaj.ps/" target="_blank"><img src="../static/matoug.png"></a>
<a href="https://mazaj.ps/" target="_blank"><img src="../static/zad.png"></a>
<a href="https://mazaj.ps/" target="_blank"><img src="../static/eldira.png"></a>
 -->
 	{% endblock %}

</body>
</html>