<!DOCTYPE html>
<html>
<head>
	<title>	Our company </title>
</head>
<body>
  <H1> What the program is</H1>
<!--   	<br>
 -->
 	<p> This website is a collection of different resturants here in gaza and it will cover all gaza As Soon As Possible </p>
 
  <h1>Who participates </h1>
 
  	<p> We Made this website for people who feel hungry </p>
 
  <h1>when the program runs </h1>
  	<p> This Website Developed when someone miss the food-time and he couldn't find any food So he want to order food maybe at midnight </p>
 
  <h1>why this program is important/interesting</h1>

  	<p> This website is important because you can order food when you couldn't go to the resturant or you have a meeting  </p>

</body>
</html>