<!DOCTYPE html>
<html>
<head>
	<title>	Our company </title>
</head>
<body>
		{%extends "home.html" %}
	{% block body%}
  <H1> What is this website ?</H1>
<!--   	<br>
 -->
 	<p> This website is a collection of different restaurants here in Gaza . </p>
 
  <h> For whom this website ? </h1>
 
  	<p> We Made this website for people who feel hungry </p>
 
  <!-- <h1>When the program runs ? </h1>
  	<p> This Website Developed when someone miss the food-time and he couldn't find any food So he want to order food maybe at midnight </p> -->
 
  <h1>Why this website is important/interesting ?</h1>

  	<p> This website is important because you can order food when you couldn't go to the resturant or you have a meeting  </p>
  	 	{% endblock %}

</body>
</html>